@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Math&display=swap");
* {
  box-sizing: border-box;
  font-family: "Noto Sans Math", sans-serif;
}

html {
  background-color: black;
  color: white;
  font-size: 10vw;
}

.target-number {
  width: 100%;
  padding: 0.5rem 0;
  border: 3px solid white;
  font-size: 2rem;
  text-align: center;
}

.current-equation-container {
  height: calc(25vw + 1rem);
  padding: 0.5rem 0;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.current-equation-symbol {
  max-width: 25vw;
  border: 3px solid white;
  margin-right: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

.numpad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}

.numpad-button {
  background-color: black;
  color: white;
  font-size: 1rem;
  border: 3px solid white;
}

.numpad-button:nth-child(8) {
  font-size: 0.75rem;
  grid-column: 4 / span 1;
  grid-row: 2 / span 3;
}

.numpad-button:nth-child(12) {
  font-size: 0.75rem;
  grid-column: 1 / span 2;
}
