@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Math&display=swap");
* {
  box-sizing: border-box;
  font-family: "Noto Sans Math", sans-serif;
}

html {
  padding: 0;
  margin: 0;
  background-color: black;
  color: white;
  font-size: 10vw;
}

header {
  text-align: center;
  border-bottom: 3px solid white;
}

@media screen and (max-width: 600px) {
  .hidden-header {
    display: none;
  }
}

/* Styling for menu */

.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
}

.menu-link {
  display: block;
  width: 70%;
  background-color: black;
  color: white;
  border: 3px solid white;
  font-size: 0.7rem;
  text-align: center;
  text-decoration: none;
}

/* Styling for games */

.target-number {
  width: 100%;
  padding: 0.5rem 0;
  border: 3px solid white;
  font-size: 2rem;
  text-align: center;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  transition: transform 0.5s ease-out;
}

.flip-in {
  animation: flip-in 0.5s ease-in-out;
  transform-origin: center;
}

@keyframes flip-in {
  0% {
    transform: rotateY(-90deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}

.current-equation-container {
  height: calc(25vw + 1rem);
  padding: 0.5rem 0;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.current-equation-symbol {
  max-width: 25vw;
  border: 3px solid white;
  margin-right: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

.numpad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}

.numpad-button {
  background-color: black;
  color: white;
  font-size: 1rem;
  border: 3px solid white;
}

.numpad-button:nth-child(8) {
  font-size: 0.75rem;
  grid-column: 4 / span 1;
  grid-row: 2 / span 4;
}

.numpad-button:nth-child(15) {
  font-size: 0.75rem;
  grid-column: 1 / span 2;
}

.numpad-active {
  opacity: 1;
  animation: numpad-active-animation 0.5s ease-in-out forwards;
}

@keyframes numpad-active-animation {
  from {
    opacity: 0.25;
  }

  to {
    opacity: 1;
  }
}

.numpad-disabled {
  opacity: 0.25;
  animation: numpad-disabled-animation 0.5s ease-in-out forwards;
}

@keyframes numpad-disabled-animation {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.25;
  }
}
