@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

html {
  background: black;
  color: white;
  font: 6vw "Open Sans", sans-serif;
}

header {
  width: 100%;
  border-bottom: 5px solid white;
  padding: 0.25rem 0;
  text-align: center;
}

button {
  width: 100%;
  background-color: black;
  border: 3px solid white;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 640px) {
  header {
    font-size: 1.75rem;
  }
}
