:root {
  --grid-width: 40vw;
  --grid-gap: 2vw;
  --extra-row-margin-top: 5vw;
  --input-square-size: calc((var(--grid-width) - 4 * var(--grid-gap)) / 5);
  --numpad-size: calc((var(--grid-width) - 4 * var(--grid-gap)) / 4);
  --flip-delay: 0.5s;
}

#container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: var(--grid-gap);
  width: var(--grid-width);
  height: fit-content;
  margin: var(--extra-row-margin-top) auto;
}

#input-row {
  display: grid;
  grid-template-columns: repeat(5, var(--input-square-size));
  grid-template-rows: repeat(1, var(--input-square-size));
  justify-content: center;
  margin: var(--extra-row-margin-top) auto;
  grid-gap: var(--grid-gap);
  width: var(--grid-width);
  height: auto;
}

.square {
  position: relative;
  width: var(--input-square-size);
  height: var(--input-square-size);
  color: white;
  transform-style: preserve-3d;
  animation: flip-in var(--flip-delay) ease forwards;
  animation-delay: var(--flip-delay);
  opacity: 0;
}

@keyframes flip-in {
  from {
    transform: rotateY(-180deg);
    opacity: 0;
  }
  to {
    transform: rotateY(0deg);
    opacity: 1;
  }
}

.square .blank-side,
.square .digit-side {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 3px solid white;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: transform var(--flip-delay) ease;
}

.square .blank-side {
  z-index: 2;
}

.square .digit-side {
  transform: rotateY(180deg);
}

.square.flipped .blank-side {
  transform: rotateY(180deg);
}

.square.flipped .digit-side {
  transform: rotateY(0deg);
}

#numpad {
  display: grid;
  grid-template-columns: repeat(4, var(--numpad-size));
  grid-template-rows: repeat(5, var(--numpad-size));
  justify-content: center;
  margin: var(--extra-row-margin-top) auto;
  grid-gap: var(--grid-gap);
  width: var(--grid-width);
  height: auto;
}

.numkey {
  opacity: 0;
  animation: flip-in var(--flip-delay) ease forwards;
}

.numkey-text {
  font-size: 0.5rem;
}

.numkey-navigator {
  display: none;
}

@media only screen and (max-width: 640px) {
  header {
    display: none;
  }

  :root {
    --grid-width: 90vw;
  }

  #container {
    grid-template-columns: 1fr;
  }

  .numkey {
    font-size: 2rem;
  }

  .numkey-text {
    font-size: 1rem;
  }
}
