:root {
  --grid-width: 40vw;
  --grid-gap: 2vw;
  --extra-row-margin-top: 5vw;
  --input-square-size: calc((var(--grid-width) - 4 * var(--grid-gap)) / 5);
  --numpad-size: calc((var(--grid-width) - 4 * var(--grid-gap)) / 4);
}

#container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  margin: var(--extra-row-margin-top) auto 0;
  grid-gap: var(--grid-gap);
  width: var(--grid-width);
  height: auto;
}

#input-row {
  display: grid;
  grid-template-columns: repeat(5, var(--input-square-size));
  grid-template-rows: repeat(1, var(--input-square-size));
  justify-content: center;
  margin: var(--extra-row-margin-top) auto;
  grid-gap: var(--grid-gap);
  width: var(--grid-width);
  height: auto;
}

#answer-row {
  display: grid;
  grid-template-columns: repeat(5, var(--input-square-size));
  grid-template-rows: repeat(1, var(--input-square-size));
  justify-content: center;
  margin: var(--extra-row-margin-top) auto;
  grid-gap: var(--grid-gap);
  width: var(--grid-width);
  height: auto;
}

.square {
  width: var(--input-square-size);
  height: var(--input-square-size);
  border: 3px solid white;
  box-sizing: border-box;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#numpad {
  display: grid;
  grid-template-columns: repeat(4, var(--numpad-size));
  grid-template-rows: repeat(6, var(--numpad-size));
  justify-content: center;
  margin: var(--extra-row-margin-top) auto;
  grid-gap: var(--grid-gap);
  width: var(--grid-width);
  height: auto;
}

.numkey-text {
  font-size: 0.5rem;
}

.numkey-navigator {
  display: none;
}

@media only screen and (max-width: 640px) {
  header {
    display: none;
  }

  :root {
    --grid-width: 90vw;
  }

  #container {
    grid-template-columns: 1fr;
  }

  .numkey {
    font-size: 2rem;
  }

  .numkey-text {
    font-size: 1rem;
  }
}
