:root {
  --grid-width: 40vw;
  --grid-gap: 2vw;
  --extra-row-margin-top: 5vw;
}

#container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#grid-container {
  display: grid;
  grid-template-columns: repeat(
    5,
    calc((var(--grid-width) - 4 * var(--grid-gap)) / 5)
  );
  grid-template-rows: repeat(
    5,
    calc((var(--grid-width) - 4 * var(--grid-gap)) / 5)
  );
  justify-content: center;
  margin: var(--extra-row-margin-top) auto 0;
  grid-gap: var(--grid-gap);
  width: var(--grid-width);
  height: auto;
}

#input-row {
  display: grid;
  grid-template-columns: repeat(
    5,
    calc((var(--grid-width) - 4 * var(--grid-gap)) / 5)
  );
  grid-template-rows: repeat(
    1,
    calc((var(--grid-width) - 4 * var(--grid-gap)) / 5)
  );
  justify-content: center;
  margin: var(--extra-row-margin-top) auto;
  grid-gap: var(--grid-gap);
  width: var(--grid-width);
  height: auto;
}

#answer-row {
  display: grid;
  grid-template-columns: repeat(
    5,
    calc((var(--grid-width) - 4 * var(--grid-gap)) / 5)
  );
  grid-template-rows: repeat(
    1,
    calc((var(--grid-width) - 4 * var(--grid-gap)) / 5)
  );
  justify-content: center;
  margin: var(--extra-row-margin-top) auto;
  grid-gap: var(--grid-gap);
  width: var(--grid-width);
  height: auto;
}

.square {
  width: 100%;
  height: 100%;
  border: 3px solid white;
  box-sizing: border-box;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#numpad {
  display: grid;
  grid-template-columns: repeat(
    4,
    calc((var(--grid-width) - 4 * var(--grid-gap)) / 4)
  );
  grid-template-rows: repeat(
    6,
    calc((var(--grid-width) - 4 * var(--grid-gap)) / 4)
  );
  justify-content: center;
  margin: var(--extra-row-margin-top) auto;
  grid-gap: var(--grid-gap);
  width: var(--grid-width);
  height: auto;
}

.numkey-text {
  font-size: 0.5rem;
}

#navigator {
  display: grid;
  grid-template-columns: repeat(
    2,
    calc((var(--grid-width) - 4 * var(--grid-gap)) / 2)
  );
  grid-gap: var(--grid-gap);
}

.numkey-navigator {
  height: calc((var(--grid-width) - 4 * var(--grid-gap)) / 4)
}

@media only screen and (max-width: 640px) {
  header {
    display: none;
  }
  
  :root {
    --grid-width: 90vw;
  }

  #container {
    grid-template-columns: 1fr;
  }

  .numkey {
    font-size: 2rem;
  }

  .numkey-text {
    font-size: 1rem;
  }
  
  .numkey-navigator {
    font-size: 1rem;
  }
}
