main {
  padding: 1rem;
}

#container {
  margin: 0 auto;
  width: 60%;
  text-align: center;
}

#play-container {
  border: 3px solid white;
  padding: 1rem;
}

#difficulty-value {
  font-size: 0.5rem;
}

#difficulty-slider {
  margin: 0;
}

button {
  display: inline-block;
  padding: 0.1rem;
  font-size: 0.6rem;
}

@media only screen and (max-width: 640px) {
  #container {
    width: 80%;
  }

  button,
  #difficulty-value {
    font-size: 0.8rem;
  }
}
