main {
  padding: 1rem;
}

#container {
  margin: 0 auto;
  width: 50%;
  text-align: center;
}

button {
  display: inline-block;
  padding: 0.1rem;
  margin: 0.5rem 0;
  font-size: 0.6rem;
}

@media only screen and (max-width: 640px) {
  #container {
    width: 80%;
  }

  button {
    font-size: 1rem;
  }
}
