@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Math&display=swap");

* {
  background-color: black;
  color: white;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Noto Sans Math", sans-serif;
  font-size: 24px;
}

header {
  width: 100%;
  padding: 0 1rem;
  border-bottom: 5px solid white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 2.5gamerem;
  text-align: center;
  letter-spacing: 3px;
}

.home {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.home-btn-container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-nav {
  width: 100%;
  padding: 1rem;
  border: 3px solid white;
  margin-bottom: 1rem;
  font-size: 2rem;
  text-align: center;
  text-decoration: none;
}

.game {
  padding: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.game-grid {
  width: fit-content;
  height: auto;
  margin: auto;
  border: 5px solid white;
  position: relative;
  display: grid;
  gap: 0;
}

.game-cell-animation {
  animation: cell-appear 1s ease-in-out;
}

@keyframes cell-appear {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.piece-control {
  height: fit-content;
  margin: auto auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 5px;
}

.arrow-control {
  --unit: min(10vh, 10vw);

  width: var(--unit);
  height: var(--unit);
  border: 5px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
